<div class="container">
  <div class="cont-detail">

    <div class="detail">
      <div class="detail-title">
        <img src="/images/free-icon.png" style="height:50px" alt="default img">
        <h3> {{this.category}} </h3>
      </div>
      <div>
        <h5> {{this.shortdescr}} </h5>
        <p> {{this.longdescr}} </p>
        <div class="detail-fav-loc">
          <div class="loc">
            <p>
              <strong>Where: </strong> {{this.location}} </p>
            <p>
              <strong>When: </strong> {{this.date}} </p>
          </div>
          {{#if isConnected}}
          <a id="favorize-link" href="/{{this._id}}/favorize">
            <img src="{{this.hearticon}} ">
          </a>
          {{/if}}
        </div>

        <h4 class="comment-header">Comments</h4>
        {{#each comments}}
        <div class="comment-auth">
          <p><strong>Author: </strong>{{this._author.username}} <strong>Date: </strong> {{this.readableDate}}</p>
          {{!-- <h6></h6> --}}
          <p class="auth-text">{{this.text}}</p>
        </div>
        {{/each}}

      </div>
    </div>
    <div class="detail-comment">
      <div class="comment">
        <form action="/{{this._id}}/comment" method="post">
          {{#if isConnected}}
          <textarea class="form-control form-add" name="comment" cols="30" rows="15" placeholder="Place your comment here"></textarea>
          <button class="btn btn-warning btn-block">Submit</button>
          {{else}}

          <div class="submit-error">
            {{#if error}}
              <p>ERROR: {{error}}</p>
            {{/if}} 
          </div>

          <p>
            You must<a href="/auth/login">login</a> to post comments
          </p>
          {{/if}}
        </form>
        <div class="submit-error">
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var dateComment = {{ this.created_at }};
  dateComment = dateComment.slice(0, 24);
</script>