<form action="/{{this._id}}/favorize" method="post">
  <div>
    <img src="/images/free-icon.png" style="height:50px" alt="default img">
    <h3> {{this.category}} </h3>
    <h5> {{this.shortdescr}} </h5>
    <p> {{this.longdescr}} </p>
    <p> {{this.location}} </p>
    <p> {{this.date}} </p>
    <a id="favorize-link" href="favorize ">
      <img src="{{this.hearticon}} ">
    </a>
  </div>
</form>
{{!-- "/favorite/{{this._id}}/create " --}} {{!--
<script>
  document.getElementById("favorize-link ").addEventListener("click ", function (e) {
    console.log(this)
    this.classList.toggle('clicked');
  })
</script> --}}