<div class="container">
  <div class="cont-detail">

    <div class="detail">
      <div class="detail-title">
        <img src="/images/free-icon.png" style="height:50px" alt="default img">
        <h3> {{this.category}} </h3>
      </div>
      <div>
        <h5> {{this.shortdescr}} </h5>
        <p> {{this.longdescr}} </p>
        <div class="detail-fav-loc">
          <div class="loc">
            <p><strong>Where: </strong> {{this.location}} </p>
            <p><strong>When: </strong> {{this.date}} </p>
          </div>
          <a id="favorize-link" href="/{{this._id}}/favorize">
            <img src="{{this.hearticon}} ">
          </a>
        </div>
      </div> 
    </div>
    <div class="detail-comment">
      {{#each comments}}
        <div>
          <p>{{this.text}}</p>
          <footer>Author: {{this._author.username}} Date: {{this.created_at}}</footer>
        </div>
      {{/each}} {{!-- jdjdjjd --}}
      <div class="comment">
        <form action="/{{this._id}}/comment" method="post">
          <textarea class="form-control form-add" name="comment" cols="30" rows="15" placeholder="Place your comment here"></textarea>
          <button class="btn btn-warning btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



<script>
  var dateComment = {{ this.created_at }};
  dateComment = dateComment.slice(0, 24);
</script>