<div class="container">
  <div class="cont-detail">

    <div class="detail">
      <div class="detail-title">
        <img src="/images/free-icon.png" style="height:50px" alt="default img">
        <h3> {{this.category}} </h3>
      </div>
      <div>
        <h5> {{this.shortdescr}} </h5>
        <p> {{this.longdescr}} </p>
        <div class="detail-fav-loc">
          <div class="loc">
            <p>
              <strong>Where: </strong> {{this.location}} </p>
            <p>
              <strong>When: </strong> {{this.date}} </p>
          </div>
          {{#if isConnected}}
          <a id="favorize-link" href="/{{this._id}}/favorize">
            <img src="{{this.hearticon}} ">
          </a>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="detail-comment">
      {{#each comments}}
      <div>
        <p>{{this.text}}</p>
        <footer>Author: {{this._author.username}} Date: {{this.readableDate}}</footer>
      </div>
      {{/each}}
      <p style="color:red">
        {{error}}
      </p>
      <div class="comment">
        <form action="/{{this._id}}/comment" method="post">
          {{#if isConnected}}
          <textarea class="form-control form-add" name="comment" cols="30" rows="15" placeholder="Place your comment here"></textarea>
          <button class="btn btn-warning btn-block">Submit</button>
          {{else}} {{#if error}}
          <p>ERROR: {{error}}</p>
          {{/if}}
          <p>You must
            <a href="/auth/login">login</a> to post comments</p>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var dateComment = {{ this.created_at }};
  dateComment = dateComment.slice(0, 24);
</script>