<img src="{{this.profilepic}}">
<a href="/editProfile">EDIT PROFILE</a>
<h4>{{this.username}}</h4>
<p>Description: {{this.description}}</p>
<p>Member since: {{this.createdAt}}</p>
<p>Amount of likes: {{this.favorized}}</p>


<ul>
  <h4>FAVORITES</h4>
  {{#each this.favorites}}
  <li>Category: {{this._resource.category}} What? {{this._resource.shortdescr}} Where? {{this._resource.location}}</li>
  <a href="/{{this._resource._id}}/detail">MORE</a>
  <form action="/favorites/{{this._resource._id}}/delete" method="post">
    <button type="submit">DELETE</button>
  </form>
  {{/each}}
</ul>

<ul>
  <h4>Contributions</h4>
  {{#each this.contributions}}
  <li>{{this.shortdescr}} {{this.location}}
    <a href="/{{this._id}}/edit">EDIT</a>
    <form action="/{{this._id}}/delete" method="post">
      <button type="submit">DELETE</button>
    </form>
  </li>
  {{/each}}
</ul>