<div class="container__profile">
  <div class="user__profile">
    <img src={{this.profilepic}} >
    </img>
    <div class="user__info">
      <h2>{{this.username}}</h2>
      <p>
        <strong>Description: </strong> {{this.description}}
      </p>
      <p>
        <strong>Member since: </strong> {{this.createdAt}}
      </p>
      <p class="margine">
        <strong>Amount of likes: </strong> {{this.favorized}}
      </p>
      <a class="btn" href="/editProfile">Edit Profile</a>
    </div>
  </div>
  <div class="user__content">
    <div class="user__content-contribution">
      <h4>Contributions</h4>
      <ul>
        {{#each this.contributions}}
        <li>
          <strong>What: </strong>
          {{this.shortdescr}}
        </li>
        <li>
          <strong>Where: </strong>
          {{this.location}}
        </li>
        <div class="btns__container">
          <a class="btn" href="/{{this._id}}/edit">Edit</a>
          <form action="/{{this._id}}/delete" method="post">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
        {{/each}}
      </ul>
    </div>
    <div class="user__content-favorites">
      <h4>Favorites</h4>
      <ul>
        {{#each this.favorites}}
        <li>
          <strong>Category: </strong>{{this._resource.category}}
        </li>
        <li>
          <strong>What? </strong>{{this._resource.shortdescr}}
        </li>
        <li>
          <strong>Where? </strong>{{this._resource.location}}
        </li>
        <div class="btns__container">
          <a class="btn" href="/{{this._resource._id}}/detail">More</a>
          <form action="/favorites/{{this._resource._id}}/delete" method="post">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
        {{/each}}
      </ul>
    </div>
    
  </div>
</div>